@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap');
        body{
            font-family: 'Ubuntu', sans-serif; 
            max-width: 100%;
            background-image: url(background.jpg);
        }
        
        
            
       
       /*-------------------------------------------(Main)----------------------------------------*/       

        
        #contatct{
            width: 100%;
            float: left;
            margin-top: 50px;
            padding: 5px 2%;  
        }
        form {
            border: 1px solid white;
            border-radius: 43px 43px 43px 43px;
            margin-left: 25%;
            margin-right: 25%;
            margin-top: 5px;}
        .form1{ 
            background-color: white;
        }
        

        input[type=text], input[type=password] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

        button {
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            width: 100%;
        }

        button:hover {
            opacity: 0.8;
        }

        .imgcontainer {
            text-align: center;
            margin: 40px 0 12px 0;
        }

        img.avatar {
            width: 13%;
            border-radius: 50%;
            margin-left: 25%;
            margin-right: 25%;
        }

        #containerform {
            padding: 10px;
            margin-top: 50px;
        }



        
   